<template name="feeds">
    <div class=" container" style="margin-top: 20px">
        <center><h2>{{categoryName}}</h2></center>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-lg-12">
                {{#each feeds}}
                <div id="feed" class="block-white">
                    <div class="row">
                        <div class="col-md-3">
                            {{{this.imgUrl}}}
                        </div>
                        <div class="col-md-9">
                           <a href="{{this.link}}"> <h1>{{this.title}}</h1></a>
                            <h6>{{this.pubDate}}</h6>
                            <p>{{{this.description}}}</p>
                            <button type="button" class="btn btn-default btn-sm bookmark">
                                <span class="glyphicon glyphicon-bookmark"></span> Bookmark
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>