<template name="feeds">
    <div class=" container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-lg-12">
                <div id="feed" class="block-white">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{feeds.imgUrl}}"
                                height="100%" width="100%">
                        </div>
                        <div class="col-md-9">
                            <h1>{{feeds.title}}</h1>
                            <h6>{{feeds.pubDate}}</h6>
                            <p>{{feeds.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>