<template name="feeds">
    <div class=" container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-lg-12">
                {{#each feeds}}
                <div id="feed" class="block-white">
                    <div class="row">
                        <div class="col-md-3">
                           {{{this.imgUrl}}}
                        </div>
                        <div class="col-md-9">
                            <h1>{{this.title}}</h1>
                            <h6>{{this.pubDate}}</h6>
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{>selectChannel}}
</template>