<template name="home">
    <div class=" container">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-lg-7 block-white" style="margin-left: 10px">
                {{>topstories channel = "Mid Day"}}
            </div>
            <div class="col-lg-4 block-white" style="margin-left: 10px; height: 500px; float: right;">
                {{>topstories channel = "India Today"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 block-white" style="margin-left: 10px;">
                {{>topstories channel = "Times of India"}}
            </div>
            <div class="col-md-3 block-white" style="margin-left: 10px">
                {{>topstories channel = "Hindustan Times"}}
            </div>
            <div class="col-md-4 block-white" style="margin-left: 10px">
                    {{>topstories channel = "News 18"}}
                </div>
        </div>
    </div>
</template>