<template name="navigation">
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LiveFeeds</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{pathFor route = 'home'}}">Home</a>
                </li>
                {{#if selectedChannel}}
                {{#each selectedChannel.categories}}
                <li>
                    <a href='{{pathFor route = "feeds" channelName= selectedChannel.name categoryId = category_id}}'>{{name}}</a>
                </li>
                {{/each}}
                {{/if}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{#if selectedChannel}}
                <li>
                    <img src="{{selectedChannel.logo_url}}" height="50" width="130">
                </li>
                {{/if}}
                <li>
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown"> <span id = "selectedChannel">{{#if selectedChannel}}{{selectedChannel.name}}{{else}}Select a channel {{/if}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id='drpdown'>
                        <li style="padding-left: 10px">English</li>
                        <li class="divider"></li>
                        {{#each channelList}}
                        <li>
                            <a href='#' id = {{_id}}>{{name}}</a>
                        </li>
                        {{/each}}
                        <li class="divider"></li>
                        <li style="padding-left: 10px">Hindi</li>
                        <li class="divider"></li>
                        {{#each channelListHindi}}
                        <li>
                            <a href='#' id = {{_id}}>{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>

                <li>
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown"> <span>Hi, {{username}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{pathFor route = 'recentViews'}}">
                                        <span class="	glyphicon glyphicon-list-alt"></span> Recent Views</a>
                                    </li> 
                                    <li>
                                        <a href="{{pathFor route = 'bookmarks'}}">
                                        <span class="glyphicon glyphicon-bookmark"></span> Bookmarks</a>
                                    </li> 
                                    <li>
                                        <a href="#" class="logout">
                                        <span class="glyphicon glyphicon-log-out"></span> logout</a>
                                    </li>
                        </ul>
                    </li>

            </ul>
        </div>
    </nav>
</template>


<!-- <li>
        <a>
            <span>Hi {{username}}</span>
        </a>
    </li>
    <li>
        <a href="#" class="logout">
            <span class="glyphicon glyphicon-log-out"></span> logout</a>
    </li>
    <li>
        <a href="{{pathFor route = 'bookmarks'}}">
            <span class="glyphicon glyphicon-bookmark"></span> Bookmarks</a>
    </li> -->