<template name="recentViews">
    <center>
        <h2>Recent Views</h2>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                {{#each recentViews}}
                <div id="feed" class="block-white">
                    <div class='row'>
                        <div class="col-md-11"></div>
                        <div class="col-lg-1">
                            <a href="#" class="remove">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            {{{this.news_img_url}}}
                        </div>
                        <div class="col-md-9">
                            <a href="{{this.news_link}}">
                                <h3>{{this.news_title}}</h3>
                            </a>
                            <h6>{{this.news_pubdate}} - {{this.news_channel}}</h6>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>