body{
    background-color: #F4F4F4;
}

.block-white{
    background-color: #ffffff;
    border-radius: 15px;  
    padding: 5px
}

.anyClass {
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden
  }